
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fffbf7;
  font-family: "Open Sans", sans-serif;
}

/* todos los hijos de header tendran esas propiedades */
header > * {
  display: inline-block;
}


.header-container{
  height:110px ;
  width:100%;
  border: 3px solid black;
}

.logo{
  border: 3px solid green;
  margin-top: 5px ;
  margin-left: 5px;
}


.navbar{
  margin-left:320px;
  display: inline-block;
  border: 3px solid blue;
}

.nav_ul{
  display: inline-block;
  list-style: none;
}

.nav_li{
  margin:7px;
  border: 3px solid red;
  display: inline-block;
}

.nav-link{
  text-decoration: none;
  color: #025157;
}

.actions{
  margin-left: 220px;
  border: 3px solid orange;
}

.sign_in{
  color: #67b54b;
}

.free-bItem{
  background-color: #67b54b;
  color: white;
  margin-left: 12px;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 14px;
}


/*  SESION 1 */
/* con puro nombre del elemento */ 

main {
  margin-top: 285px;
  text-align: center;
}


h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  color: #46484c;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.2;
}

p {
  color: #8b8b8bcc;
  margin-top: 15px;
}

form {
  height: 55px;
}

input,button {
  height: 100%;
  border-radius: 8px;
}

input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
  box-sizing: border-box;
}

button {
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 20px;
  margin-left: -10px;
  
  cursor: pointer;
}

.item-capterra {
    margin-top: 32px;
}


